# Dependencies
node_modules/
.npm/

# Build output
dist/output.css

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Sensitive Files
.env
config.php
# database.sql # (Hapus tanda # jika kamu tidak ingin meng-upload file SQL ke publik)

# Log files
*.log
